{#
# header - global field
#}

{% set header = craft.globals.getSetByHandle('header') %}

<header class="main-header">
	<div class="main-header-logo">
		<img src="{{siteUrl}}/static/images/ark-logo.png" alt="">
	</div>
  {% include "_components/menu" with { menu: header.menu } %}
</header>
 