.main-header {
	margin-bottom: 150px;
	display: flex;
	align-items: center;
  &--text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}
.main-header-logo {
	margin-left: -200px;
	margin-right: 200px;
}
@media(max-width: 1550px) {
	.main-header-logo {
	margin-left: 0px;
	margin-right: 100px;
}
}
