.sizer1{
  width: 99.9%;
}
.sizer2{
  width: 66.6%;
}
.sizer3{
  width: 33.3%;
}
.item-masonry{
  position: relative;
  border: 0.5px solid #000;
}
.item-masonry__content {
  background-color: #fff;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 25px;
}
.item-masonry img{
  width: 100%;
  height: auto;
  display: block;
}
